main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
h1{
    display: flex;
    justify-content: center;
}
.container{
    width: 330px;
    display: flex;
    height: 330px;
    flex-wrap: wrap;
    margin: 15px;
}  
.cupe{   
    background-color: whitesmoke;
    flex: 1 1 auto;
}

.black{
    background-color: black
}
.settings{
    display: flex;
    margin: 10px;
    flex-flow: column wrap;
}
button{
    margin: 5px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
}